In [37]:
# import required libs
import json
import requests
import pandas as pd
import numpy as np

In [46]:
url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
df = pd.read_csv(url)

In [15]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [16]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

### Question 1

In [17]:
print(f"Version: {pd.__version__}")

Version: 2.1.4

### Question 2

In [18]:
# To get the record 
print(f"Records: {df.shape[0]}")

Records: 9704

### Question 3

In [19]:
fuel_types = pd.unique(df['fuel_type'])
print(f"Fuel Type: {len(fuel_types)}")

Fuel Type: 2

In [20]:
fuel_types = df['fuel_type'].nunique()
print(f"Fuel Type: {fuel_types}")

Fuel Type: 2

### Question 4

In [21]:
# To get all columns:
mva = (df.isna().sum() > 0).sum()
print(f"Cols: {mva}")

Cols: 4

### Question 5

In [22]:
max_fuel_asia = df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()
print(f"Max Fuel Efficiency Asia: {max_fuel_asia:.2f} %")

Max Fuel Efficiency Asia: 23.76 %

### Question 6

In [47]:
# 1. Med value of hp
med_hp_value = df['horsepower'].mean() # -> Max hp

# 2. Most Frequent
most_frequent_value = df['horsepower'].mode() # -> mode() -> frequent Searcher

# 3. Fill 
df['horsepower'] = df['horsepower'].fillna(most_frequent_value, inplace=True)
med_hp_value_2 = df['horsepower'].mean()
# Missing rows count
na_count = df['horsepower'].isna().sum()

In [48]:
print("Before:")
print(f"Max Horse Power: {med_hp_value:.2f}")
print(f"Most Frequent Value: {most_frequent_value}")
print(f"Missing col: {na_count}")

print("\nAfter:")
print(f"Max Horse Power: {med_hp_value_2:.2f}")
print(f"Most Frequent Value: {most_frequent_value}")
print(f"Missing col: {na_count}")

Before:
Max Horse Power: 149.66
Most Frequent Value: 0    152.0
Name: horsepower, dtype: float64
Missing col: 9704

After:
Max Horse Power: nan
Most Frequent Value: 0    152.0
Name: horsepower, dtype: float64
Missing col: 9704

### Question 7

In [49]:
# Selecting cars from Asia
c_asa = df[df['origin'] == 'Asia']

c_asa_cols = c_asa[['vehicle_weight', 'model_year']]

# 7 values
first_seven_value = c_asa_cols.head(7)

X = first_seven_value.to_numpy()

XTX = X.T @ X

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = (XTX_inv @ X.T) @ y

sum_weight = w.sum()

print(f"Sum of weights: {sum_weight:.3f}")

Sum of weights: 0.519